.cart-top{
    height: 400px;

    background-image: url(./images/cartbg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.cart-page__title{
    margin-top: 128px;
    
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    color: $color-white;
    } 
.cart{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    &__name-box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
        padding-right: 28px;

    }
    &__content{
        grid-column: span 8;
    }
    &__item{
        border-top: 0.5px solid rgb(202, 205, 216);
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__left{
        display: flex;
        gap: 32px;
    }
    &__info{
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        &-name{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
        }
        &-text{
            color: rgb(136, 136, 136);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }
        &-price{
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    }
    &__btn{
        width: 200px;
        height: 37px;

        font-family: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        background: transparent;
        box-sizing: border-box;
        border: 1px solid $color-black;
        border-radius: 50px;
        margin-top: 18px;
        transition-duration: 0.2s;
    }
    &__link-box{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    &__link{
        color: $color-black;
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-thickness:0.5px;

        &:hover{
            color: rgb(136, 136, 136);
            text-decoration: none; 
        }
    }
    &__input{
        width: 71px;
        height: 51px;
        border: none;
        border-radius: 6px;
        background: rgb(247, 246, 246);
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        font-weight: 600;
        font-family: inherit;
    }
    &-form{
        
        box-sizing: border-box;
        padding-top: 42px;
        border-radius: 20px;
        background: rgb(247, 246, 246);
        height: 556px;
        grid-column: span 4;
        &__title{
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            text-align: center;
            margin-bottom: 35px;
        }
        &__input-box{
            
            padding-left: 27px;
            display: flex;
            flex-direction: column;
            gap: 41px;
        }
        &__input{
            
            outline: none;
            width: 288px;
            font-family: inherit;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;

            background: transparent;
            border: none;
            border-bottom: 1px solid rgb(202, 205, 216);
            &::placeholder{
                color: $color-black;
            }
        }
        &__text{
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            text-align: center;
            margin-top: 64px;
            margin-bottom: 18px;
        }
        &__btn{
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            background: transparent;
            box-sizing: border-box;
            border: 1px solid rgb(4, 4, 4);
            border-radius: 20px;
            width: 290px;
            height: 41px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            transition: all 1s;
            &:hover{
                transform: scale(1.1);
            }

        }
    }
}


.hover-black:hover{
    background: $color-black;
    color: $color-white;
}